<% include ../partials/header %>

<div id="et-main-area">
    <div id="main-content">
        <article id="post-209034" class="post-209034 page type-page status-publish hentry">
            <div class="entry-content">
                <div id="et-boc" class="et-boc">
                    <div class="et_builder_inner_content et_pb_gutters3">
                        <div class="et_pb_section et_pb_section_1 et_section_specialty">
                            <div class="et_pb_row">
                                <div class="et_pb_column et_pb_column_1_3 et_pb_column_3    et_pb_css_mix_blend_mode_passthrough et_pb_column_single w-100 ptb-0">
                                    <div id="container">
                                        <div class="et_pb_module et_pb_blurb et_pb_blurb_2 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_left mb-30 box-shadow-none container-item" style="">
                                            <div class="et_pb_blurb_content">

                                                <div class="et_pb_blurb_container">
                                                    <a href="/comments/<%= results[0].id %>"><h4 class="et_pb_module_header"><%= results[0].description %></h4></a>
                                                    <div class="et_pb_blurb_description">

                                                        <a href="/users/<%= results[0].userid %>"><h4 class="et_pb_module_header"><%= results[0].username %></h4></a>
                                                        <p><strong><%= moment(results[0].datecreated).format('LLL') %></strong></p>
                                                        <% if (req.user === undefined) { %>
                                                        <% } else if (req.user.id !== results[0].userid) { %>
                                                        <% } else { %>
                                                        <form action="/comments/<%= results[0].id %>?_method=DELETE" method="post">
                                                            <button type="submit" class="brown fs-100p bd-none pd-none">Delete</button>
                                                        </form>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div> </div>
    </article>
</div>

</div>

<% include ../partials/footer %>
