<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/vie67/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vie67/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/vie67/css/clean-blog.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="icon" href="images/de86e094498e5.png">


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand cr-343a40" href="/">Vie67</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link cr-343a40" href="/topics">Explore</a>
                </li>
                <% if (!(req.isAuthenticated())) { %>
                <li class="nav-item">
                    <a class="nav-link cr-343a40" href="/users/new">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cr-343a40" href="/login">Log in</a>
                </li>
                <% } else { %>
                <li class="nav-item">
                    <a class="nav-link cr-343a40" href="/users/<%= req.user.id %>"><%= req.user.username %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cr-343a40" href="/posts/new">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cr-343a40" href="/images/new">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cr-343a40" href="/logout">Logout</a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<!-- Main Content -->
<div class="container pt-150 pb-150">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 class="text-center mb-30">Edit profile</h1>
            <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
            <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
            <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
            <form name="sentMessage" id="contactForm" action="/users/<%= results[0].id %>?_method=PUT" method="post" enctype="multipart/form-data">
                <% if (errors.length > 0) { %>
                <% for(var i = 0; i < errors.length; i++) { %>
                <div class="alert alert-danger mb-30" role="alert">
                    <%= errors[i].msg %>
                </div>
                <% } %>
                <% } %>
                <div class="control-group mb-30">
                    <div class="form-group floating-label-form-group controls">
                        <input type="email" class="form-control" placeholder="Email address" name="email" value="<%if (inputs.length > 0) { %><%= inputs[0].email %><% }else{ %><%= results[0].email %><% } %>" required autofocus>
                    </div>
                </div>
                <div class="control-group mb-30">
                    <div class="form-group floating-label-form-group controls">
                        <input type="text" class="form-control" placeholder="Username" name="username" value="<%if (inputs.length > 0) { %><%= inputs[0].username %><% }else{ %><%= results[0].username %><% } %>" required>
                    </div>
                </div>
                <div class="control-group mb-30">
                    <div class="form-group floating-label-form-group controls">
                        <textarea class="form-control" placeholder="Description" name="description" rows="5" required><%if (inputs.length > 0) { %><%= inputs[0].description %><% }else{ %><%= results[0].description %><% } %></textarea>
                    </div>
                </div>
                <div class="control-group mb-30">
                    <div class="form-group floating-label-form-group controls">
                        <input type="file" class="form-control-file" name="file" accept="image/*" required>
                        <input type="hidden" name="imageurl" value="<%= results[0].imageurl %>">
                    </div>
                </div>
                <div class="form-group text-center mb-30">
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>

