<% include ../partials/header %>


<div id="et-main-area">
    <div id="main-content">
        <article id="post-209028" class="post-209028 page type-page status-publish hentry">
            <div class="entry-content">
                <div id="et-boc" class="et-boc">
                    <div class="et_builder_inner_content et_pb_gutters3">
                        <div class="et_pb_section et_pb_section_2 et_section_regular">
                            <div class="et_pb_row et_pb_row_6 pt-none">
                                <div class="et_pb_column et_pb_column_1_2 et_pb_column_12    et_pb_css_mix_blend_mode_passthrough ptb-50">
                                    <div class="et_pb_module et_pb_signup_0 et_hover_enabled et_pb_newsletter_layout_left_right et_pb_newsletter et_pb_subscribe clearfix et_pb_bg_layout_dark  et_pb_text_align_left et_pb_no_bg">

                                        <div class="et_pb_newsletter_form">
                                            <h1 class="text-center pb-2 fw-700 lh-13 white">Edit post</h1>
                                            <form action="/posts/<%= results[0].id %>?_method=PUT" method="post">

                                                <% if (errors.length > 0) { %>
                                                <% for(var i = 0; i < errors.length; i++) { %>
                                                <div class="et_pb_newsletter_result et_pb_newsletter_error show text-center mb-1 fs-18 red">
                                                    <%= errors[i].msg %>
                                                </div>
                                                <% } %>
                                                <% } %>
                                                <!--<div class="et_pb_newsletter_result et_pb_newsletter_error"></div>-->
                                                <!--<div class="et_pb_newsletter_result et_pb_newsletter_success">-->
                                                <!--<h2>Success!</h2>-->
                                                <!--</div>-->
                                                <div class="et_pb_newsletter_fields">

                                                    <p class="et_pb_newsletter_field et_pb_contact_field_last">
                                                        <input class="input" type="text" placeholder="Name" name="name" value="<%if (inputs.length > 0) { %><%= inputs[0].name %><% }else{ %><%= results[0].name %><% } %>" required autofocus>
                                                    </p>
                                                    <p class="et_pb_newsletter_field et_pb_contact_field_last">
                                                        <textarea class="input" placeholder="Description" name="description" rows="5" cols="5" required><%if (inputs.length > 0) { %><%= inputs[0].description %><% }else{ %><%= results[0].description %><% } %></textarea>
                                                    </p>
                                                    <p class="et_pb_newsletter_field et_pb_contact_field_last">
                                                        <select class="input" name="topic" required>
                                                            <!--<option>Select a topic</option>-->
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "1"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 1){%>selected<% } %><% } %> value="1">Art</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "2"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 2){%>selected<% } %><% } %> value="2">Books</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "3"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 3){%>selected<% } %><% } %> value="3">Comics</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "4"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 4){%>selected<% } %><% } %> value="4">Culture</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "5"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 5){%>selected<% } %><% } %> value="5">Film</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "6"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 6){%>selected<% } %><% } %> value="6">Food</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "7"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 7){%>selected<% } %><% } %> value="7">Gaming</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "8"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 8){%>selected<% } %><% } %> value="8">Humor</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "9"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 9){%>selected<% } %><% } %> value="9">Internet Culture</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "10"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 10){%>selected<% } %><% } %> value="10">Music</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "11"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 11){%>selected<% } %><% } %> value="11">Photography</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "12"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 12){%>selected<% } %><% } %> value="12">Poetry</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "13"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 13){%>selected<% } %><% } %> value="13">Social Media</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "14"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 14){%>selected<% } %><% } %> value="14">Sports</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "15"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 15){%>selected<% } %><% } %> value="15">TV</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "16"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 16){%>selected<% } %><% } %> value="16">Writing</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "17"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 17){%>selected<% } %><% } %> value="17">Business</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "18"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 18){%>selected<% } %><% } %> value="18">Design</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "19"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 19){%>selected<% } %><% } %> value="19">Economy</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "20"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 20){%>selected<% } %><% } %> value="20">Startups</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "21"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 21){%>selected<% } %><% } %> value="21">Freelancing</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "22"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 22){%>selected<% } %><% } %> value="22">Marketing</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "23"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 23){%>selected<% } %><% } %> value="23">Productivity</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "24"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 24){%>selected<% } %><% } %> value="24">Work</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "25"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 25){%>selected<% } %><% } %> value="25">Android</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "26"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 26){%>selected<% } %><% } %> value="26">AI</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "27"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 27){%>selected<% } %><% } %> value="27">Blockchain</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "28"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 28){%>selected<% } %><% } %> value="28">Cryptocurrency</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "29"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 29){%>selected<% } %><% } %> value="29">Cyber Security</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "30"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 30){%>selected<% } %><% } %> value="30">Date Science</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "31"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 31){%>selected<% } %><% } %> value="31">Gadgets</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "32"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 32){%>selected<% } %><% } %> value="32">iOS</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "33"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 33){%>selected<% } %><% } %> value="33">Javascript</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "34"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 34){%>selected<% } %><% } %> value="34">Machine Learning</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "35"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 35){%>selected<% } %><% } %> value="35">Math</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "36"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 36){%>selected<% } %><% } %> value="36">Neuroscience</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "37"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 37){%>selected<% } %><% } %> value="37">Programming</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "38"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 38){%>selected<% } %><% } %> value="38">Science</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "39"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 39){%>selected<% } %><% } %> value="39">Self Driving Cars</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "40"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 40){%>selected<% } %><% } %> value="40">Software</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "41"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 41){%>selected<% } %><% } %> value="41">Space</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "42"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 42){%>selected<% } %><% } %> value="42">UX</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "43"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 43){%>selected<% } %><% } %> value="43">Visual Design</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "44"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 44){%>selected<% } %><% } %> value="44">Creativity</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "45"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 45){%>selected<% } %><% } %> value="45">Family</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "46"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 46){%>selected<% } %><% } %> value="46">Health</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "47"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 47){%>selected<% } %><% } %> value="47">Parenting</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "48"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 48){%>selected<% } %><% } %> value="48">Personal Finance</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "49"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 49){%>selected<% } %><% } %> value="49">Pets</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "50"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 50){%>selected<% } %><% } %> value="50">Relationships</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "51"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 51){%>selected<% } %><% } %> value="51">Travel</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "52"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 52){%>selected<% } %><% } %>value="52">Wellness</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "53"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 53){%>selected<% } %><% } %> value="53">Basic Income</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "54"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 54){%>selected<% } %><% } %> value="54">City</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "55"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 55){%>selected<% } %><% } %> value="55">Education</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "56"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 56){%>selected<% } %><% } %> value="56">Environment</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "57"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 57){%>selected<% } %><% } %> value="57">History</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "58"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 58){%>selected<% } %><% } %> value="58">Philosophy</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "59"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 59){%>selected<% } %><% } %> value="59">Transportation</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "60"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 60){%>selected<% } %><% } %> value="60">World</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "61"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 61){%>selected<% } %><% } %> value="61">Other</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "62"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 62){%>selected<% } %><% } %> value="62">Future</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "63"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 63){%>selected<% } %><% } %> value="63">Nature</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "64"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 64){%>selected<% } %><% } %> value="64">Interior</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "65"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 65){%>selected<% } %><% } %> value="65">House</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "66"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 66){%>selected<% } %><% } %> value="66">Mountain</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "67"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 67){%>selected<% } %><% } %> value="67">Clouds</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "68"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 68){%>selected<% } %><% } %> value="68">Abstract</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "69"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 69){%>selected<% } %><% } %> value="69">Vintage</option>
                                                            <option <% if (inputs.length > 0) { %><% if (inputs[0].topicid === "70"){%>selected<% } %><% }else{ %><% if (results[0].topicid === 70){%>selected<% } %><% } %> value="70">New</option>
                                                        </select>
                                                    </p>


                                                    <!--<p class="et_pb_newsletter_button_wrap">-->
                                                    <!--<button class="et_pb_newsletter_button et_pb_button" type="submit" data-icon="">Log in</button>-->

                                                    <!--&lt;!&ndash;<button class="et_pb_newsletter_button et_pb_button" type="submit" data-icon="">&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<span class="et_subscribe_loader"></span>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<span class="et_pb_newsletter_button_text">Log in</span>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<button type="submit">Log in</button>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                                                    <!--</p>-->
                                                    <button id="explore" class="et_pb_button et_pb_custom_button_icon et_pb_button_0 et_animated et_hover_enabled et_pb_bg_layout_light pdlr-1 fs-12 floatr" data-icon="&#x45;" type="submit">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>  </div>
                    </div> </div></div>
        </article>
    </div>
</div>
<% include ../partials/footer %>


